%style{:type => 'text/css' }
  @import "/css/v2.css";
%div
  %h5
    Generation takes a minute or two.  Please be patient after clicking a button here.
    %br
    %a.generate_site_link_button.link_button{:href => '/hl7v2/generate_datatype_page'} Generate DataType Specializations Page
    %br
    %a.generate_site_link_button.link_button{:href => '/hl7v2/generate_conformance_page'} Generate Conformance Methodology Page
%hline
=@documents