%h2.v2
  V2+ Vocabulary

%table.vocab-toc-table
  %tbody
    %tr
      %th
        Concept Domain
      %th
        v2&nbsp;Table&nbsp;#
      %th
        Description
      %th
        Vocab Type
      %th
        Vocab Usage
      %th
        Code System
    =rows