%tr.segment_definition_field
  %td
    - if last
      %img{:src => "images/tbl_vjoin_end.png"}
    - else
      %img{:src => "images/tbl_vjoin.png"}
    =sequence_number
    - if !last
      - fat_row.times do
        %br
        %img{:src => "images/tbl_vline.png"}
  %td
    =name
  %td.centered
    %a{ :href => type_url }
      =type_code
  %td.centered
    =usage
  %td.centered
    %div.vocab-link
      %a{ :href => vocab_url, :title => vocab_hover }
        =vocab_info
        %span.vocab-link-text
          =vocab_hover
  %td.centered
    =cardinality        
  %td.centered
    %a{ :href => field_def_link }
      =data_element_id
  / %td
  /   =must_implement
  %td.centered
    =length
  %td.centered
    =c_length
  %td.centered
    =flags
