!!!
%html
  %head
    %meta{:content => "text/html; charset=windows-1252", "http-equiv" => "Content-Type"}
    %title
      HL7 - #{title}
    %link{:href => "images/hl7_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %style{:type => 'text/css'}
      / @import './css/hl7.css';
      / @import './css/fhir.css';
      / @import './css/bootstrap.css';
      / @import './css/bootstrap-fhir.css';
      / @import './css/project.css';
      / @import './css/pygments-manni.css';
      / @import './css/jquery-ui.css';
      / @import './css/modules.css';
      @import 'css/hl7.css';
      @import 'css/fhir.css';
      @import 'css/bootstrap.css';
      @import 'css/bootstrap-fhir.css';
      @import 'css/project.css';
      @import 'css/pygments-manni.css';
      @import 'css/jquery-ui.css';
      @import 'css/modules.css';
      @import 'css/codemirror.css';
      @import 'css/yamm.css';
      @import 'css/v2.css';

    %meta{:content => "(C) Health Level Seven, Int. 2020", :name => "COPYRIGHT"}
    %meta{:content => "Michael Faughn", :name => "Developer"}

  %body{:style => "padding-top: #{draft ? 210 : 160}px"}

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        / HEADER CONTENT
        #segment-header
          .navbar-header
            .container{:style => "padding-top:10px"}
              %a#logo{:href => "http://www.hl7.org/", "no-external" => "true"}
                %img{:alt => "HL7 International", :src => "images/hl7-logo-header.png", :width => "120"}
              #hl7-nav
                %a#hl7-logo{:href => "http://v2.hl7.org/", "no-external" => "true"}
                  %img{:alt => "Visit the HL7 V2 website", :height => "50", :src => "images/HL7-v2-logo.png"}
          %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
        
        #stripe
        
        #segment-navbar.navbar-nav-box
          .container
            .nav-collapse.collapse.navbar-inverse-collapse
              %ul.nav.navbar-nav
                %li.navbar-v2web
                  %a{:href => homepage_url} V2 Conformance Home
                %li.navbar-v2web.dropdown
                  %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                    Sections
                    %b{:class => 'caret'}
                  %ul.dropdown-menu.multi-level
                    = navbar_items
                - if toc_url
                  %li.navbar-v2web
                    %a{:href => toc_url} Table of Contents
        - if draft
          .container
            #v2draft
              %h1
                Draft Website - For Review Purposes Only
      / #segment-breadcrumb.segment
      /   .container
      /     %ul.breadcrumb
      /       %li
      /         %b
      /           %a{:href => homepage_url} Home



    .container
      = content

      - # ==================================================
      - # Placed at the end of the document so the pages load faster
      %script{:src => "js/jquery.js"}
      %script{:src => "js/jquery-ui.min.js"}
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "js/respond.min.js"}
      / %script{:src => "js/fhir.js"} / This file was empty so not including it
      %script{:src => "js/codemirror/codemirror.js"}
      %script{:src => "js/codemirror/mode/xml.js"}
      %script{:src => "js/v2.js"}

    %p
    #segment-footer.segment
      .container
        .inner-wrapper
          %p
            &copy; HL7.org 2019+. HL7 v2+.
