/ css for table header row...style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px"
/ %h3
/   =title
%table.v2.concepts-table
  %caption
    =caption
  %tbody
    %tr
      %th
        Code
      %th
        Display
      %th
        Definition
      %th
        Deprecated
    =concept_rows