/ css for table header row...style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px"
/ %h3
/   =title
%table.v2.vocab-metadata-table
  %caption
    =caption
  %tbody
    %tr
      %td
        Vocabulary Type
      %td
        =vocab_type
    %tr
      %td
        Concept Domain
      %td
        =cd_name
    %tr
      %td
        Code System Name
      %td
        =name
    %tr
      %td
        Code System Identifier
      %td
        =cs_id
    %tr
      %td
        Code System OID
      %td
        =cs_oid
    %tr
      %td
        HL7 Table Identifier
      %td
        =table_id
    %tr
      %td
        Version
      %td
        =version
    %tr
      %td
        Status
      %td
        =status
    %tr
      %td
        Where Used
      %td
        =where_used
    %tr
      %td
        Purpose and Use
      %td
        =purpose_and_use
