%tr.segment.example_segment{:id => row_id}
  %td
    - icons.each do |file_name|
      %img{:src => "images/#{file_name}"}
    %img{:src => "images/#{icon}"}  
    %img{:src => "images/icon_reference.png"}
    = name
  %td.centered
  %td.centered
  %td
    = description