%tr.segment.segment_choice.segment_choice_or{:id => row_id}
  %td
    - icons.each do |file_name|
      %img{:src => "/images/#{file_name}"}
    %img{:src => "/images/#{icon}"}
    %img{:src => "/images/tbl_vOR.png"}
    