/ Every td has class="hierarchy" ... this should be removed and replaced with css that automatically does this
/ Striping even/odd should not be done by applying .even and .odd classes but by css that covers the entire table
/ css for table header row...style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px"
/ %h3
/   =title
%table.message-structure-table{:id => table_id}
  %caption
    =caption
  %tbody
    %tr
      %th
        %a{:href => message_structure_page}
          Segment
      %th
        %a{:href => message_structure_page}
          Cardinality
      %th
        %a{:href => message_structure_page}
          Must Implement
      %th
        %a{:href => message_structure_page}
          Status
    %tr
      %td{:colspan => 3}
        %img{:src =>"/images/folder_icon.gif"}
        %b
          =code
    = segment_rows
%br
