%tr.segment_definition_field
  %td
    %img{:src => "images/tbl_vjoin_end.png"}
    =sequence_number
  %td
    =data_element_number
  %td
    =name
  %td
    =must_implement
  %td
    =flags
  %td
    =cardinality
  %td
    =length
  %td
    =c_length
  %td
    %a{:href => value_set_url}
      =value_set
  %td
    %a{:href => type_url}
      =type_code
    