<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Introduction.html.html">Introduction</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Profile_Levels.html.html">Profile Levels</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_HL7_v2_Implementation_Guides.html.html">HL7 v2 Implementation Guides</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Message_Profiles.html.html">Message Profiles</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Constraints.html.html">Constraints</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Vocabulary_Constraints.html.html">Vocabulary Constraints</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Profile_Construction.html.html">Profile Construction</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Pairing_Sender_and_Receiver_Profile_for_Use_.html.html">Pairing Sender and Receiver Profile for Use </a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Profile_Documentation.html.html">Profile Documentation</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Computable_Document_Definitions.html.html">Computable Document Definitions</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Glossary.html.html">Glossary</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Appendix_A:_Predicate_Definition_Language.html.html">Appendix A: Predicate Definition Language</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Appendix_B:_Conformance_Statement_Definition_Language.html.html">Appendix B: Conformance Statement Definition Language</a>
   </li>
  <li>
      <a href="HL7v2_Conformance_Methodology_R1_O1_-_September_2019_Appendix_C:_Schema_Definitions.html.html">Appendix C: Schema Definitions</a>
   </li>
</ul>
