%tr.datatype_component
  %td
    - if last
      %img{:src => "images/tbl_vjoin_end.png"}
    - else
      %img{:src => "images/tbl_vjoin.png"}
    =sequence_number
  %td
    =name
  %td
    =must_support
  %td
    =length
  %td
    =c_length
  %td
    %a{:href => value_set_url}
      =value_set
  %td
    %a{:href => type_url}
      =type_code
    