/ Every td has class="hierarchy" ... this should be removed and replaced with css that automatically does this
/ Striping even/odd should not be done by applying .even and .odd classes but by css that covers the entire table
/ css for table header row...style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px"
/ %h3
/   =title
%table.segment_definition_table
  %caption
    =caption
  %tbody
    %tr
      %th
        %a{:href => segment_list_page}
          Seq#
      %th
        %a{:href => segment_list_page}
          DataElement
      %th
        %a{:href => segment_list_page}
          Description
      %th
        %a{:href => segment_list_page}
          Must Implement
      %th
        %a{:href => segment_list_page}
          Flags
      %th
        %a{:href => segment_list_page}
          Cardinality
      %th
        %a{:href => segment_list_page}
          Length  
      %th
        %a{:href => segment_list_page}
          C.LEN
      %th
        %a{:href => segment_list_page}
          Vocabulary
      %th
        %a{:href => segment_list_page}
          DataType
    %tr
      %td.hierarchy{:colspan => 3}
        %img{:src =>"images/folder_icon.gif"}
        %b
          =code
    =field_rows