.ui-tabs.ui-widget.ui-widget-content.ui-corner-all{:id => "tabs999999"}
  %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{:role => "tablist"}
  
    %li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active{:role => "tab", :tabindex => "0",  :"aria-controls" => "tabs999999-folder-1", :"aria-labelledby" => "ui-id-1", :"aria-selected" => "true", :"aria-expanded" => "true"}
      %a.ui-tabs-anchor{:href => "#tabs999999-folder-1", :role => "presentation", :tabindex => "-1", :id => "ui-id-1"}
        Tab 1 label
    %li.ui-state-default.ui-corner-top{:role => "tab", :tabindex => "-1",  :"aria-controls" => "tabs999999-folder-2", :"aria-labelledby" => "ui-id-2", :"aria-selected" => "false", :"aria-expanded" => "false"}
      %a.ui-tabs-anchor{:href => "#tabs999999-folder-2", :role => "presentation", :tabindex => "-1", :id => "ui-id-2"}
        Tab 2 label
  
  .ui-tabs-panel.ui-widget-content.ui-corner-bottom{:id => "tabs999999-folder-1", :"aria-labelledby" => "ui-id-1", :role => "tabpanel", :"aria-hidden" => "false"}
    .div{:id => "tabs999999-folder-1-inner"}
      %p Tab1
  .ui-tabs-panel.ui-widget-content.ui-corner-bottom{:id => "tabs999999-folder-2", :"aria-labelledby" => "ui-id-2", :role => "tabpanel",  :"aria-hidden" => "true", :style => "display:none;"}
    .div{:id => "tabs999999-folder-2-inner"}
      %p Tab 2
