%tr.datatype_component
  %td
    - if last
      %img{:src => "images/tbl_vjoin_end.png"}
    - else
      %img{:src => "images/tbl_vjoin.png"}
    %a{:href => sequence_number_url}
      =sequence_number
    - if !last
      - fat_row.times do
        %br
        %img{:src => "images/tbl_vline.png"}
      
  %td
    =name
  %td.centered
    %a{:href => type_url}
      =type_code
  %td.centered
    =usage
  %td.centered
    %div.vocab-link
      %a{ :href => vocab_url, :title => vocab_hover }
        =vocab_info
        %span.vocab-link-text
          =vocab_hover
  / %td.centered
  /   =cardinality
  %td.centered
    =length
  %td.centered
    =c_length
  %td.centered
    =flags
    