%h2.v2
  Mapping between HL7 v2.9 and v2+
%p.v2
  This Table of Contents lists the sections from the v2.9 chapters.  Clicking on any entry will take you to corresponding section of this v2+ website.
.v2-v2plus-map
  %ul.v2-v2plus-map-entries
    - entries.each do |entry|
      %li.v2-v2plus-map-entry
        %h3
          %a{:href => entry[:url] }
            = entry[:title]