#notes_to_balloters
  %p
    V2+ is an initiative to modernize the widespread, dependable V2 standard. It will give implementers worldwide a new and modern way to access and use the specifications in their efforts. The initiative will make it easier for HL7 to develop and maintain the V2 standard as the workhorse specification of worldwide healthcare data exchange. The goals of presenting the V2 standard in a web-based format include:

  %ul
    %li
      Enhanced navigation that allows users to move more easily through the content from either technical or workflow perspectives
    %li
      Common look and feel to other HL7 published standards
    %li
      More consistent content accessible from different locations in the standard
    %li
      New ways to represent the cardinality and usage of elements
    %li
      Better integration with other content such as UTG terminology and conformance methodology

  %p
    As part of this For Comment ballot, the majority of technical content remains unchanged from V2.9 except where necessary to achieve the new format (eg. the consolidation of duplicate message structures). Only the presentation of the content has changed. We are specifically requesting feedback on the organization of the content in the new web-based format including:

  %ul
    %li
      Input on the overall organization of the standard in the new format. For example:
      %ul
        %li      
          Does the navigation menu at the top of the pages provide sufficient functionality? Are the right links linked?
        %li
          On the home page, is the organization of content into the Levels appropriate?
    %li
      Are the available navigation options sufficient? Are there additional links to specific areas of content that should be added?
    %li
      For the major artifacts (messages, segments, data types, etc.), is the format of the pages useable? Are the tables defining the artifacts formatted appropriately?
    %li
      On the Message Structures page, should the name of the message structure be included along with the list of message structure identifiers?
    %li
      Suggestions on dealing with multiple definitions for an element
  %p
    While this ballot includes many of the features that will be central to V2+, several issues still need to be resolved including:
  %ul
    %li
      The content of the various Domains, currently the content of the existing V2.x chapters, will be broken down into more granular pages to make it easier to navigate
    %li
      Links to vocabulary will be pointed to the appropriate UTG content
    %li
      Description will be added for each message structure
    %li
      Content will be added for the Data Type Flavors and Implementation Guide Registry sections
    %li
      Broken links will be corrected
    %li
      The ability to submit comments against V2+ in Jira will be added
  %p
    We invite feedback on how to best implement solutions to these outstanding issues.